.main-dash-container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  height: 100%;
  /* border: 2px solid ; */
  min-height: 100vh;
}
.top-dashboard-container-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 30%;
}
.dashboard-right-img img {
  height: 10em;
}
.top-box-article {
  width: 10em;
}
.bottom-dashboard-container {
  height: 60%;
  min-height: 40vh;
  /* border: 2px solid red; */
  background-color: #c8c8c8;
  margin: 1em;
}
.green-line {
  width: 90%;
  background-color: #69deba;
  height: 5px;
  margin: 1;
}
