.survey-container {
  text-align: center;
  margin: 25px auto;
  height: 45px;
  width: 80%;
  background-color: #69deba;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  box-shadow: 5px 5px 4px 5px #888888;
}
.survey-image {
  height: 100%;
  /* width: 42px; */
}
.survey-title {
  margin: 1em;
}
